body {
    width: 1024px;
    padding: 2px;
}
.Resume {
  font-family: "Arial Black", serif;
  padding-bottom: 1px;
  margin-bottom: 1px;
  text-align:center;
}
.ulresume {
  font-family:'Open Sans', sans-serif;
  font-size:15px;
}
h1, h2, h3 {
  text-align: left;
}
p {
    font-family: Arial, serif;
    font-weight:300;
    line-height:22px;
    padding-bottom: 3px;
    font-size: 15px;
    text-align: left;
  }
.photo {
    text-align:left;
    padding-bottom: 10px;
  }
table {
    text-align: left;
    font-family:'Open Sans', sans-serif;
  }
ul {
    text-align: left;
    font-family:'Open Sans', sans-serif;
  }
  #footer {
      background-color:#00BFFF;
      color:#fff;
      padding:20px 50px 20px 50px;
      text-align:right;
  }
